.tree-item {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background: url("/images/characters/tree.png") left center;
  animation: tree 1.2s steps(15) infinite;
}


.player-avatar {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/characters/character.png") left center;

  //transition: all 1s linear;
}
.player-avatar-display {
  width: 4rem;
  height: 4rem;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/images/characters/character.png") left center;
  //animation: moving 1.8s steps(16) infinite !important;
  z-index: 1;

}

.santa-item-container {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  //background: #1cd25a;
  z-index: 999 !important;
  //animation: float 5000s ease-in-out infinite;
  cursor: pointer;
  .santa-item {
    position: fixed;
    width: 3rem;
    height: 3rem;
    animation: santa 1s steps(4) infinite;
    //box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  }
  .popup-santa-item{
    position: absolute;
    left: 3rem;
    min-width: 8rem;
    padding: 5px;
    //width: auto;
    height: 1.5rem;
    border-radius: 25px 0 16px 25px;
    background: white;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s linear ;
  }
  .tooltiptext {
    //visibility: hidden;
    width: 131px;
    height: 60px;
    background-color: rgba(250, 250, 250, 0.753);
    color: #363636;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 109%;
    left: 143%;
    margin-left: -25px;
    visibility: visible;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 15%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(250, 250, 250, 0.753) transparent transparent transparent;
    }
  }
}
//$var: 0;
//@keyframes float {
//  @for $i from 1 through 50 {
//    #{($i * 2%)} {
//      transform: translateX( ((random(10) + (-10)) * 30%) );
//    }
//  }
//}
@-webkit-keyframes fadeIn {
  from{opacity:  0}
  to {opacity: 1}
}
@-webkit-keyframes tree {
  from{background-position: 0}
  to {background-position: 960px}
}

@-webkit-keyframes santa {
  from{background-position: 0}
  to {background-position: 256px}
}

// vuong add
.game-obj{
  position: absolute;
  .char-img{
    width: auto;
    height: 25px;
  }
  .char-special-img{
    width: auto;
    height: 7rem;
  }
  .count-down{
    position: absolute;
    top: 44px;
    left: 0px;
    font-size: 9px;
    font-family: 'digital-7';
    color: green;
    //display: none;
  }
  .char-status{
    width: 8px;
    height: 16px;
    margin-left: 5px;
    &.water-warning{
      background: url("/images/game/character/water-status.png") center no-repeat;
      background-size: 100%;
    }
  }
  &.pos-item{
    top: 6px;
    left: 24px;
    z-index: 998;
  }
  &.pos-item-leaftmap{
    top: 6px;
    left: 22px;
    z-index: 998;
  }
  &.pos-special-item{
    top: 20px;
    width: 78px;
    height: 78px;
    left: 24px;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.pos-special-item-yx11{
    top: -40px;
    width: 78px;
    height: 78px;
    left: -40px;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.disappear {
    animation-name: zoomOut;
    animation-duration: 1s;
  }

  &.pos-0{
    top: 5px;
    right: 16px;
  }
  &.pos-1{
    top: 28px;
    right: 3px;
  }
  &.pos-2{
    bottom: 3px;
    right: 20px;
    z-index: 999;
  }
  &.animation {
    animation-name: bounce;
    animation-duration: 1s;
  }
}

.toggle-tree-button {
  background: white;
  position: absolute;
  top: -18%;
  left: 37%;
  width: 23px;
  height: 23px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  z-index: 999;
  img{
    width: 12px;
    height: 15px;
  }
}
.toggle-special-tree-button{
   background: white;
   position: absolute;
   top: -26%;
   left: 77%;
   width: 30px;
   height: 30px;
   border: 1px solid #ccc;
   -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
   box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
   border-radius: 3px/6px;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 3px;
   z-index: 999;
 }
.toggle-special-tree-button-leaflet{
  background: white;
  position: absolute;
  top: -124%;
  left: -26%;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  z-index: 999;
}
.toggle-tree-button-leaflet {
  background: white;
  position: absolute;
  top: -18%;
  left: 37%;
  width: 23px;
  height: 23px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  display: -ms-flexbox;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px;
  z-index: 999;
  img{
    width: 12px;
    height: 15px;
  }
}
.leaflet-marker-icon:hover{
  //.toggle-special-tree-button-leaflet{
  //    display: flex;
  //}
  .toggle-tree-button-leaflet{

      display: flex;
  }
}
.toggle-land-button-container {
  background: unset;
  position: absolute;
  top: -56%;
  width: 63px;
  height: 63px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  animation: FadeIn 1.5s backwards;
  .toggle-land-button {
    width: 23px;
    height: 23px;
    border: 1px solid #ccc;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    border-radius: 3px/6px;

  }
}
.toggle-land-button-container-leftMap {
  background: unset;
  position: absolute;
  top: -56%;
  width: 63px;
  height: 63px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  animation: FadeIn 1.5s backwards;
  .toggle-land-button {
    width: 23px;
    height: 23px;
    border: 1px solid #ccc;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    border-radius: 3px/6px;

  }
}
.leaflet-marker-icon .toggle-land-button-container-leftMap{
  display: none;
}
.leaflet-marker-icon:hover .toggle-land-button-container-leftMap{
  display: flex;
}
@-webkit-keyframes FadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.test {
  width: 10px !important;
  height: 10px !important;
  opacity: 1;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}


.tooltipTotalBlood {
  //visibility: hidden;
  width: auto;
  height: auto;
  background-color: rgba(250, 250, 250, 0.753);
  color: #363636;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0 5px 10px;
  position: absolute;
  z-index: 9999;
  //bottom: 109%;
  //left: 33%;
  margin-left: -25px;
  visibility: visible;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(250, 250, 250, 0.753) transparent transparent transparent;
  }
  .totalTileSelected {
    padding-right: 5px;
  }
}
