@import "../../variables";
//mail-list
.mail-header {
  height: 5rem;
  display: flex;
  justify-content: center;

  .icon-header {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 22px;
      height: 19px;
    }
  }

  .title-header {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $menu-color;
    font-weight: bold;
  }

  .button-header {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button-return {
      width: 2rem;
      height: 2rem;
      border: 2px solid $grey-light;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s linear;

      .icon-button {
        width: 10px;
        height: 3px;
        background: $grey-light;
      }

      &:hover {
        background: $green-light;
        transform: scale(1.1);
        border: 2px solid $menu-color;

        .icon-button {
          background: $menu-color;
        }
      }
    }
  }
}

.mail-body {
  height: 38rem;
  display: flex;
  flex-direction: column;

  .mail-empty-container {
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $menu-color;
    font-size: 1rem;
    font-weight: bold;
    animation: fadeIn 1s;

    img {
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
    }
  }

  .mail-list-function-button-container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .delete-mail-button {
      width: 100%;
      height: 3rem;
      background: $green-light;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
      }

      .button-name {
        margin-left: 5px;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .mail-list-button {
      width: 47%;
      height: 2.8rem;
      border-radius: 20px;
      background: $green-light;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s linear;
      cursor: pointer;
      animation: fadeIn 1s;

      &:nth-child(1) {
        margin-left: 5px;
      }

      &:nth-child(2) {
        margin-right: 5px;
      }

      img {
        width: 0.9rem;
        height: 0.8rem;
      }

      .button-name {
        margin-left: 5px;
        font-weight: bold;
      }


    }

  }

  .checkAll-container {
    height: 3rem;
    display: flex;
    align-items: center;

    .checkAll-button {
      margin-left: 1rem;
    }

    .checkAll-title {
      margin-left: 0.5rem;
      color: $menu-color;
      font-size: 0.8rem;
      font-weight: bold;
    }

    .mail-selected {
      display: flex;
      color: $green-light;
      font-size: 0.8rem;
      font-weight: bold;
      margin-left: 0.2rem;
    }
  }

  .unBlock-container {
    height: 3rem;
    display: flex;
    align-items: center;
    background: $green-light;
    cursor: pointer;
    filter: brightness(90%);
    transition: all 0.5s linear;

    &:hover {
      filter: brightness(100%);
    }

    .unBlock-button {
      margin-left: 1.1rem;

      img {
        width: 1.1rem;
        height: 1rem;
      }
    }

    .checkAll-title {
      margin-left: 0.5rem;
      color: $menu-color;
      font-size: 0.8rem;
      font-weight: bold;
    }

    .mail-selected {
      display: flex;
      color: $green-light;
      font-size: 0.8rem;
      font-weight: bold;
      margin-left: 0.2rem;
    }
  }

  .line-container {
    align-self: center;
    height: 1px;
    width: 90%;
    background: $grey-light-alpha;
  }

  .mail-list-container {
    height: 30rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    scroll-behavior: smooth;

    &.expand {
      height: 38rem;
    }

    &::-webkit-scrollbar {
      width: 3px;
      border-radius: 50%;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey-light-alpha;
    }

    .mail-list-item {
      cursor: pointer;
      display: flex;
      height: auto;
      align-items: center;
      margin-bottom: 5px;
      animation: fadeIn 3s;

      img {
        margin-left: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
      }

      .item-check-button {
        margin-left: 1rem;
      }

      .item-name {
        width: 25%;
        margin-left: 0.5rem;
        color: $menu-color;
        font-size: 0.7rem;
        font-weight: bold;
      }

      .user-name {
        width: 25%;
        margin-left: 0.5rem;
        color: $menu-color;
        font-size: 0.7rem;
      }

      .item-date {
        //margin-left: 10rem;
        width: 25%;
        margin-left: 0.5rem;
        color: $menu-color;
        font-size: 0.7rem;
      }
    }
  }
}

//add mail
.addFriend-header {
  height: 3.5rem;
  display: flex;
  justify-content: center;

  .title-header {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $menu-color;
    font-weight: bold;
    margin-left: 1rem;
  }

  .button-header {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button-return {
      width: 2rem;
      height: 2rem;
      border: 2px solid $grey-light;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s linear;

      .icon-button {
        width: 10px;
        height: 3px;
        background: $grey-light;
      }

      &:hover {
        background: $green-light;
        transform: scale(1.1);
        border: 2px solid $menu-color;

        .icon-button {
          background: $menu-color;
        }
      }
    }
  }
}

.line-container {
  align-self: center;
  height: 1px;
  width: 80%;
  background: $grey-light-alpha;
}

.searchFriend-container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .searchField {
    height: 60%;
    width: 80%;
    border: 2px solid $green-light;
    border-radius: 28px;
    display: flex;
    align-items: center;

    img {

      width: 1rem;
      height: 1rem;
      margin-left: 5px;
    }

    input {
      height: 19px;
      width: 11rem;
      border-top: none;
      border-bottom: none;
      margin-left: 1rem;
      border-left: 1px solid $grey-light-alpha;
      border-right: 1px solid $grey-light-alpha;
      padding: 4px;
      color: $grey-light;

      &:focus {
        outline: none;
      }
    }
  }
}

.result-search {
  height: 6rem;
  display: flex;
  flex-direction: column;

  .mail-name {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $menu-color;
    font-weight: bold;
    font-size: 1rem;
    animation: fadeIn 0.5s;
  }

  .mail-button-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;

    .mail-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 2rem;
      border-radius: 28px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

      div {
        padding-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $grey-light;
        color: $grey-light;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  .error-icon {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .error-mess {
    height: 3rem;
    color: $menu-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    animation: fadeIn 0.5s;
  }
}

.read-mail-body {
  height: 80%;

  .read-mail-button-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .read-mail-button {
      width: 32%;
      height: 80%;
      background: $green-light;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $menu-color;
      font-weight: bold;
      font-size: 1rem;

      img {
        width: 0.8rem;
        height: 1.1rem;
        margin-right: 5px;
      }
    }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
