$menu-color: #12354F;
$menu-color-alpha: rgba(25, 61, 89 , 0.4);
$green-light: #6EF488;
$whiter-alpha: rgba(255 ,255 , 255 , 0.8);
$whiter-alpha1: rgba(255 ,255 , 255 , 0.6);
$grey-light: #bdc3c7;
$grey-light-alpha: rgba(189, 195,199 , 0.7);
$fade-bg: rgba(36, 36, 36 , 0.4);
