.modal{
  .modal-dialog{
    &.custom-modal {
      &.modal--tree-remove {
        @include set-modal-size(580px, auto);
        .custom-modal-body {
          text-align: left;
        }
      }
    }
  }
}
   
.remove-tree-container{
  $tree_col_width : 142px;
  $land_col_width : 177px ;
  $blood_col_width : 113px;
  $water_col_width : auto;
  $body_height : 323px;
  color: rgb(108, 109, 109);
  border-bottom:#383838 1px solid;
  margin-bottom: 5px;

  .header-grid{
    display: grid;
    grid-template-columns:  $tree_col_width $land_col_width $blood_col_width $water_col_width;
    width: 100%;
  
    .head1-col {
      @include header-cell-properties(center,'break',(right,bottom));
      padding: 10px;
      grid-column-start: 1; 
      grid-column-end: 3; 
    }

    .head2-col {
      @include header-cell-properties(center,'break',(bottom));
      padding: 10px;
      grid-column-start: 3; 
      grid-column-end: 5; 
    }

    .tree-sub-col {
      @include header-cell-properties(left,'break',(right,bottom));
      display: flex;
      align-items: center;
      
      span{
        cursor: pointer;
        &:hover{
          color:#AC0000;
        }
      }
    }

    .land-sub-col {
      @include header-cell-properties(center,'break',(right,bottom));
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .blood-sub-col {
      @include header-cell-properties(center,'break',(right,bottom));
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .water-sub-col {
      @include header-cell-properties(center,'break',(bottom));
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .body-grid{
    display: grid;
    grid-template-columns:  $tree_col_width $land_col_width $blood_col_width $water_col_width;
    grid-template-rows: 10px;
    grid-auto-rows: 21px;
    width: 100%;
    height: $body_height;
    @include custom-scrollbar();
    .item-row{
      display: contents;
      .tree-col {
        @include cell-properties(left,'hide',right);
        span{
          cursor: pointer;
        }
        img{
          width: 13px;
          margin-top: -3px;
          margin-right: 5px;
        }
      }
      .land-col {
        @include cell-properties(right,'hide',right);
      }
      .blood-col {
        @include cell-properties(right,'hide',right);
        padding: 2px 3px 0px 3px;
      }
      .water-col {
        @include cell-properties(right,'hide');
        .water-left-day {
          border: none;
          background: #efeded;
          border-radius: 3px;
          padding: 1px 3px 0px 3px;
          text-align: right;
          width: 3rem;
          font-size: 12px;
          margin: 0px 5px 0px 0px;
          position: relative;
          top: -1px;
        }
      }

      &:hover{
        .tree-col,.land-col,.blood-col,.water-col {
          background: #AC0000;
          color:white;
        }
      }

      &:nth-child(1) {
        .land-col,.blood-col,.tree-col,.water-col{
          height: $body_height;
        }
        &:hover{
          .land-col,.blood-col,.tree-col,.water-col {
            background: white;
            color:#AC0000;
          }
        }
      }
    }
  }
  
  .footer-grid{
    width: 100%;
    display: grid;
    grid-template-columns:  $tree_col_width $land_col_width $blood_col_width $water_col_width;
    grid-auto-rows: 40px;
    
    
    .footer1-col {
      @include cell-properties(center,'break',(right,top));
      grid-column-start: 1; 
      grid-column-end: 3;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer2-col {
      @include cell-properties(center,'break',(top));
      grid-column-start: 3; 
      grid-column-end: 5;
      
      display: flex;
      justify-content: center;
      align-items: center;
      
      .value {
        border: none;
        background: #efeded;
        border-radius: 3px;
        padding: 1px 3px 0px 3px;
        text-align: right;
        width: 3rem;
        font-size: 12px;
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

.remove-item-inventory-container{
  $item_col_width : 230px;
  $available_col_width : 116px;
  $using_col_width : 116px;
  $rest_col_width : auto;
  $body_height : auto;
  padding: 5px 0px 5px 0px;
  color: rgb(108, 109, 109);
  
  .header-grid{
    display: grid;
    grid-template-columns:  $item_col_width $available_col_width $using_col_width $rest_col_width;
    width: 100%;
    
    .title {
      @include header-cell-properties(center,'break');
    }
  }

  .body-grid{
    display: grid;
    grid-template-columns:  $item_col_width $available_col_width $using_col_width $rest_col_width;
    width: 100%;
    height: $body_height;

    .content {
      @include cell-properties(center,'break');
      padding: 4px 9px 2px 9px;
      
      .sp-item {
        width: auto;
      }
      .value{
        border: none;
        background: #efeded;
        border-radius: 3px;
        padding: 4px 5px 0px 5px;
        text-align: right;
        width: 100%;
        height: 28px;
        font-size: 14px;
      }
    }
  }
}
